.page_container {
  padding-top: 3rem;
  background: #2f2b3a;
  min-height: 100vh;
  padding-bottom: 5rem;

  .detail_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      color: #87c7f1;
      letter-spacing: 10px;
    }
  }
}

.data_container {
  background: #f4d30f;
  padding: 2rem;
  border-radius: 20px;
}
