.head_container {
  background: #f4d30f;
  padding: 0rem 0.8rem;

  .inner_head_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

    a {
      background-color: #ffffff;
      color: #000000;
      text-decoration: none;
      padding: 12px 40px;
      border-radius: 50px;
      box-shadow: 0px 4px 4px 0px #00000040;

      @media screen and (max-width: 768px) {
        padding: 6px 18px;
      }
    }
  }
}
