.page_container {
  padding-top: 3rem;
  background: #2f2b3a;
  min-height: 100vh;
  padding-bottom: 3rem;

  .account_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0.4rem;
  }

  .account_card {
    background: #6563ff;
    height: 184px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 316px;
    border-radius: 40px;
    margin-bottom: 6rem;
    box-shadow: 0px 4px 4px 0px #00000040;

    @media screen and (max-width: 768px) {
      height: 150px;
      margin-bottom: 2rem;
    }
  }

  .animation {
    position: absolute;
    right: 10%;
    top: 10%;
    width: 300px;
    height: 400px;

    @media screen and (max-width: 1650px) {
      right: 5%;
    }
    @media screen and (max-width: 1450px) {
      right: 2%;
    }
    @media screen and (max-width: 1350px) {
      right: 1%;
    }
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
}
