h1 {
  .heading_alpha {
    color: #87c7f1;
    font-size: 5rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    line-height: 0.9;
    border-radius: 20px;

    @media screen and (max-width: 1100px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.2rem;
    }
  }
}
