.page_container {
  padding-top: 3rem;
  background: #2f2b3a;
  min-height: 100vh;
  padding-bottom: 3rem;

  .cosmic_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .cosmic_body {
      margin-top: 2rem;
      z-index: 1;

      p {
        letter-spacing: 2px;
      }

      button {      box-shadow: 0px 4px 4px 0px #00000040;
        border: none;
        background: #fff;
        padding: 12px 100px;
        font-size: 1.8rem;
        border-radius: 25px;
        letter-spacing: 5px;
        font-weight: 800;
      }
    }

    .planetAlien {
      position: absolute;
      max-width: 280px;
      top: 50%;
      right: -10%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
}
