.page_container {
  padding-top: 3rem;
  background: #2f2b3a;
}

/* style.module.scss */
.page_container {
  /* Your existing styles for the page container */
}

.animation_container {
  /* Styles for the animation container */
  width: 300px; /* Adjust the width and height to your animation's dimensions */
  height: 300px;
  /* Add any other styles as needed */
}
